 
  <section class="content-header">
    <h1>
      Notifications
      <small>its all you need to know</small>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="box notifications-data">
      <%= render 'notifications_data'%>
    </div>
  </section>






