<% sliders = get_all_sliders %>
<div id="owl-one" class="owl-carousel owl-theme ">
            <% sliders.each do |slider|%>
            <div class="item">
            <div class="img-wrap">
                <%#= image_tag("banner.jpg", alt: 'banner')%>
                <%= image_tag slider.slider_image.url %>       
                <div class="caption">
                    <div class="container">
                        <h2><%=slider.title%> </h2>
                        <p><%= slider.description%></p>
                        <%= link_to slider.button_title, slider.button_url,class: "btn btn-primary no-radius" %>
                    </div>
                </div>
            </div>      
            </div>
            <% end %>    
</div>