<% blog = Blog.find(blog_id) %>
<% blog_likes = BlogLike.where(blog_id: blog.id, status:"unlike") %>


<div class="modal" id="unlike_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"> Blog Unliked By</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <ul>
      	<% blog_likes.each do |blog_like| %>
          <li><%= User.find(blog_like.user_id).first_name%></li>
        <% end %>
        </ul>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


