
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Striper</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"  crossorigin="anonymous"> 
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>


<header id="header">
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="social">
                        <a href="#"><i title="Follow on Facebook" class="fab fa-facebook-f"><span class="sr-only">Facebook</span></i></a>
                        <a href="#"><i title="Follow on Twitter" class="fab fa-twitter"><span class="sr-only">Twitter</span></i></a>
                        <a href="#"><i title="Follow on Google plus" class="fab fa-google-plus-g"><span class="sr-only">Google plus</span></i></a>
                        <a href="#"><i title="Follow on linkedin" class="fab fa-linkedin-in"><span class="sr-only">linkedin</span></i></a>
                        
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="right-box">
                            <a href="#"><i class="fa fa-map-marker-alt"></i> 52 Henry St Hilton, NY 14468</a>
                            <a class="btn phone" title="Phone" href="tel:1-800-787-4737"><i class="fas fa-phone-volume"></i> 1-800-787-4737</a>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a href="index.html"><img title="1-800-STRIPER" src="images/logo.png" alt="STRIPER"></a>
                    </div>
                </div>
                <div class="col-lg-9 menu-right">
                    <nav  class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                            ☰ 
                            </span>
                            </button>
                    
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="ml-auto">
                                    <li>
                                        <a href="index.html">HOME</a>
                                    </li>
                    
                                    <li>
                                        <a href="about.html">ABOUT</a>
                                        <ul>
                                            <li>
                                                <a href="#">Dropdown Menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Dropdown Menu 1</a>
                                                <ul>
                                                    <li><a href="#">Dropdown Menu 2</a></li>
                                                    <li><a href="#">Dropdown Menu 2</a></li>
                                                </ul>
                                            </li>
                                         </ul>
                                    </li>
                                    <li>
                                        <a href="services.html">
                                            Services 
                                        </a>
                                    </li>
                                    <li>
                                        <a href="gallery.html">
                                            Gallery 
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">Estimate</a>
                                    </li>
                                    <li>
                                        <a href="blog.html">BLOG</a>
                                    </li>
                                    <li>
                                        <a href="#">CONTACT</a>
                                    </li>
                                                                        
                                </ul> 
                    
                            </div>
                    
                    </nav>
					<a class="btn-h" href="#">GET STARTED</a>
                </div>
				
            </div>
        </div>
    </div>


</header>

                                            


<section id="inner-banner" style="background-image: url(./images/about-banner.jpg);">
        <div class="inner-banner-bg">
            <div class="container">
                    <div class="text-center">
                        <!--<h1>FAQS</h1>-->
                    </div>
            </div>
        </div>
</section>




    <section id="faq">
        <div class="container">
            <div class="row">

                <div class="col-lg-8">
                     <div class="h1-heading">
                        <h1>FAQS</h1>
                    </div>
                    <div class="accordion-box">
                            <!-- accordion-box -->

                        <!-- accordion -->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
                            <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                <i class="more-less fas fa-plus"></i>
                                                <i class="more-less fas fa-minus"></i>
                                                1-800-STRIPER provides professional and affordable services.
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" style="">
                                        <div class="panel-body">
                                              <div class="faq-acc-cont">
                                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                        
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <!-- accordion -->

                        <!-- accordion -->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
                                <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingtwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" aria-expanded="false" aria-controls="collapseOne">
                                                    <i class="more-less fas fa-plus"></i>
                                                    <i class="more-less fas fa-minus"></i>
                                                    We are proud of the work we do for each of our clients
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapsetwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingtwo" style="">
                                            <div class="panel-body">
                                                  <div class="faq-acc-cont">
                                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                            
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!-- accordion -->

                            <!-- accordion -->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
                                <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingthree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsethree" aria-expanded="false" aria-controls="collapseOne">
                                                    <i class="more-less fas fa-plus"></i>
                                                    <i class="more-less fas fa-minus"></i>
                                                    Fill out our estimate form, and one of our franchisees
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapsethree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingthree" style="">
                                            <div class="panel-body">
                                                  <div class="faq-acc-cont">
                                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                            
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!-- accordion -->
                            
                            <!-- accordion -->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
                                <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingfour">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapseOne">
                                                    <i class="more-less fas fa-plus"></i>
                                                    <i class="more-less fas fa-minus"></i>
                                                    Is there a written plan of care for each client?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour" style="">
                                            <div class="panel-body">
                                                  <div class="faq-acc-cont">
                                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                            
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!-- accordion -->

                             <!-- accordion -->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
                                <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingfive">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapseOne">
                                                    <i class="more-less fas fa-plus"></i>
                                                    <i class="more-less fas fa-minus"></i>
                                                    We are proud of the work we do for each of our clients
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive" style="">
                                            <div class="panel-body">
                                                  <div class="faq-acc-cont">
                                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                            
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!-- accordion -->

                            <!-- accordion -->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
                                <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingsix">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapseOne">
                                                    <i class="more-less fas fa-plus"></i>
                                                    <i class="more-less fas fa-minus"></i>
                                                    Do I have to sign a contract for services?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix" style="">
                                            <div class="panel-body">
                                                  <div class="faq-acc-cont">
                                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                            
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!-- accordion -->

                             <!-- accordion -->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
                                <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingseven">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseseven" aria-expanded="false" aria-controls="collapseOne">
                                                    <i class="more-less fas fa-plus"></i>
                                                    <i class="more-less fas fa-minus"></i>
                                                    We are proud of the work we do for each of our clients
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseseven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingseven" style="">
                                            <div class="panel-body">
                                                  <div class="faq-acc-cont">
                                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                            
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!-- accordion -->

                            <!-- accordion -->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
                                <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingeight">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseeight" aria-expanded="false" aria-controls="collapseOne">
                                                    <i class="more-less fas fa-plus"></i>
                                                    <i class="more-less fas fa-minus"></i>
                                                    Do you have registered nurses on staff?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseeight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingeight" style="">
                                            <div class="panel-body">
                                                  <div class="faq-acc-cont">
                                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                            
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!-- accordion -->

                            <!-- accordion -->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
                                <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingnine">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsenine" aria-expanded="false" aria-controls="collapseOne">
                                                    <i class="more-less fas fa-plus"></i>
                                                    <i class="more-less fas fa-minus"></i>
                                                    We are proud of the work we do for each of our clients
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapsenine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingnine" style="">
                                            <div class="panel-body">
                                                  <div class="faq-acc-cont">
                                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                            
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!-- accordion -->


                            <!-- accordion -->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
                                <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingten">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseten" aria-expanded="false" aria-controls="collapseOne">
                                                    <i class="more-less fas fa-plus"></i>
                                                    <i class="more-less fas fa-minus"></i>
                                                    We are proud of the work we do for each of our clients
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseten" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingten" style="">
                                            <div class="panel-body">
                                                  <div class="faq-acc-cont">
                                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                            
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!-- accordion -->

                             <!-- accordion -->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
                                <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingeleven">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseeleven" aria-expanded="false" aria-controls="collapseOne">
                                                    <i class="more-less fas fa-plus"></i>
                                                    <i class="more-less fas fa-minus"></i>
                                                    We are proud of the work we do for each of our clients
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseeleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingeleven" style="">
                                            <div class="panel-body">
                                                  <div class="faq-acc-cont">
                                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                            
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!-- accordion -->

                            <!-- accordion -->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
                                <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingtwovel">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsetwovel" aria-expanded="false" aria-controls="collapseOne">
                                                    <i class="more-less fas fa-plus"></i>
                                                    <i class="more-less fas fa-minus"></i>
                                                    We are proud of the work we do for each of our clients
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapsetwovel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingtwovel" style="">
                                            <div class="panel-body">
                                                  <div class="faq-acc-cont">
                                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                            
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!-- accordion -->
                            
                            <!-- accordion -->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
                                <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingthirteen">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsethirteen" aria-expanded="false" aria-controls="collapseOne">
                                                    <i class="more-less fas fa-plus"></i>
                                                    <i class="more-less fas fa-minus"></i>
                                                    We are proud of the work we do for each of our clients
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapsethirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingthirteen" style="">
                                            <div class="panel-body">
                                                  <div class="faq-acc-cont">
                                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                            
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!-- accordion -->
                        <!-- accordion-box -->
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="inner-form-box home">
                        <form>
                                <div class="form-header">
                                    <h3>Get An Estimate</h3>
                                </div>
                                <div class="form-body">
                                    
                                    <!-- row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                <label class="sr-only" for="First-Name">First Name</label>
                                                <input type="text" class="form-control" name="" placeholder="First Name*" id="First-Name">
                                            </p>
                                        </div>
                                        <div class="col-md-12">
                                            <p>
                                                <label class="sr-only" for="Last-Name">Last Name</label>
                                                <input type="text" class="form-control" name="" placeholder="Last Name*" id="Last-Name">
                                            </p>
                                        </div>
                                    </div>
                                    <!-- row -->
        
                                    <!-- row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                <label class="sr-only" for="email">Email</label>
                                                <input type="text" class="form-control" name="" placeholder="Email*" id="email">
                                            </p>
                                        </div>
                                        <div class="col-md-12">
                                                <p>
                                                    <label class="sr-only" for="Phone">Phone</label>
                                                    <input type="text" class="form-control" name="" placeholder="Phone Numbar*" id="Phone">
                                                </p>
                                        </div>
                                        
                                    </div>
                                    <!-- row -->
        
                                    <!-- row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                <label class="sr-only" for="zipcode">Zip Code</label>
                                                <input type="text" class="form-control" name="" placeholder="Zip Code*" id="zipcode">
                                            </p>
                                        </div>
                                        <div class="col-md-12">
                                            <p>
                                                <label class="sr-only" for="City">City</label>
                                                <input type="text" class="form-control" name="" placeholder="City*" id="City">
                                            </p>
                                        </div>
                                    </div>
                                    <!-- row -->
        
                                    <!-- row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                <label class="sr-only" for="State">State</label>
                                                <input type="text" class="form-control" name="" placeholder="State*" id="State">
                                            </p>
                                        </div>
                                        <div class="col-md-12">
                                            <p>
                                                <label class="sr-only" for="SUBMIT">submit</label>
                                                <input type="Submit" class="btn btn-dark btn-sm btn-block" name="Additional Information*" title="Submit" value="SUBMIT">
                                            </p>
                                        </div>
                                    </div>
                                    <!-- row -->
        
        
                                </div>
                            </form>
            </div>

            <div class="inner-parking-box">
                <ul>
                    <li>Parking Lot Striping</li>
                    <li>Roadway Striping </li>
                    <li>24 Hour Service  </li>
                    <li>Operating Since 1999</li>
                </ul>
            </div>


                </div>
                
                   

            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>





   





                <section id="testimonial">
                    <div class="testimonial-bg">
                        <div class="container">
                            <div class="section-title mb-5">
                                <h2>Customer Reviews</h2>
                            </div>

                            <div id="owl-three" class="owl-carousel owl-theme">
                            
                                <div class="item">

                                    <div class="testimonial-box">
                                        <span>
                                            <div class="testimonial-img">
                                                <img src="images/man.jpg" alt="testimonial user">
                                            </div>
                                        </span>
                                        <span>
                                            <div class="testimonial-text">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                                <h6>John Smith, Eng.</h6>
                                            </div>
                                        </span>
                                    </div>

                                </div>

                                <div class="item">

                                        <div class="testimonial-box">
                                            <span>
                                                <div class="testimonial-img">
                                                    <img src="images/woman.jpg" alt="testimonial user 2">
                                                </div>
                                            </span>
                                            <span>
                                                <div class="testimonial-text">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                                    <h6>John Smith, Eng.</h6>
                                                </div>
                                            </span>
                                        </div>
    
                                    </div>

                            </div>
                        </div>
                    </div>
                </section>






                



                <footer id="footer">
                    <div class="container">
                        <div class="footer-bg">
                            <div class="row">

                                <div class="col-md-4">

                                    <div class="footer-box">
                                        <h3>RESENT POST</h3>

                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span>Jan, 24th 2018</span>
                                                    <br>
                                                    Better Nature For Better World  copy
                                                </a>
                                            </li>
                                            <li>
                                                    <a href="#">
                                                        <span>Jan, 24th 2018</span>
                                                        <br>
                                                        Better Nature For Better World  copy
                                                    </a>
                                                </li>
                                                <li>
                                                        <a href="#">
                                                            <span>Jan, 24th 2018</span>
                                                            <br>
                                                            Better Nature For Better World  copy
                                                        </a>
                                                    </li>
                                                    <li>
                                                            <a href="#">
                                                                <span>Jan, 24th 2018</span>
                                                                <br>
                                                                Better Nature For Better World  copy
                                                            </a>
                                                        </li>
                                        </ul>

                                    </div>
                                </div>


                                <div class="col-md-4">

                                        <div class="footer-box links">
                                        <h3>USEFUL LINKS</h3>

                                            <ul>
                                                <li>
                                                    <a href="#">Home</a>
                                                </li>

                                                <li>
                                                    <a href="#">Service</a>
                                                </li>

                                                <li>
                                                    <a href="#">About</a>
                                                </li>

                                                <li>
                                                    <a href="#">FAQ</a>
                                                </li>

                                                <li>
                                                    <a href="#">Contact Us</a>
                                                </li>

                                                <li>
                                                    <a href="#">Request Estimate</a>
                                                </li>
                                            </ul>

                                        </div>

                                    </div>


                                <div class="col-md-4">
                                    <div class="contact-box">

                                            <h3>CONTACT US</h3>
                                            <ul>
                                                    <li><a href="mailto:Info@1800STRIPER.COM" title="Write us to Info@1800STRIPER.COM"><i class="far fa-envelope"></i><strong>Info@1800STRIPER.COM</strong></a></li>
                                                    <li><a href="tel:1-800-787-4737" title="tel:1-800-787-4737"><i class="fas fa-phone"></i> <strong> 1-800-787-4737</strong></a></li>
                                                    <li><a href="#" title="52 Henry St. Rochester, NY, 1446"><i class="fas fa-map-marker-alt"></i> <strong>52 Henry St. Rochester, NY, 14468</strong></a></li>
                                                </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </footer>

                <div class="copy-right">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10">
                                    <p>COPYRIGHT © 1999-2019 | ALL RIGHTS RESERVED STRIPER INDUSTRIES, INC. | <a href="#"  title="Read Our Privacy Policy">Privacy Policy</a> |  Powered by <a target="_blank" href="http://clicktecs.net/" title="Visit Now ClickTecs">ClickTecs</a></p>
                                </div>
                                <div class="col-md-2">
                                    <div class=" social">
                                        <a href="#"><i title="Follow on Facebook" class="fab fa-facebook-f"><span class="sr-only">Facebook</span></i></a>
                                        <a href="#"><i title="Follow on Twitter" class="fab fa-twitter"><span class="sr-only">Twitter</span></i></a>
                                        <a href="#"><i title="Follow on Google plus" class="fab fa-google-plus-g"><span class="sr-only">Google plus</span></i></a>
                                        <a href="#"><i title="Follow on linkedin" class="fab fa-linkedin-in"><span class="sr-only">linkedin</span></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
    


                <!-- JQUERY -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/myscript.js"></script>




</body>
</html>