<%menus=get_all_menus%>
<%blogs = get_all_blogs%>
<footer id="footer">
                    <div class="container">
                        <div class="footer-bg">
                            <div class="row">

                                <div class="col-md-4">

                                    <div class="footer-box">
                                        <h3>RESENT POST</h3>
                                        <ul>
                                            <% blogs.each do |blog|%>
                                            <li>
                                                <%=link_to "blog/#{blog.title}" do %>
                                                    <span><%= format_date(blog.publish_date)%><%#= blog.publish_date %></span> 
                                                    
                                                    <br>
                                                    <%=blog.title[0,30]%>
                                                <%end%>
                                            </li>
                                            <% end %>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-4">

                                        <div class="footer-box links">
                                        <h3>USEFUL LINKS</h3>

                                            <ul><% menus.each do |menu| %>
                                                    <% if menu.menu_footer %>
                                                        <li>
                                                            <%= link_to menu.title.capitalize, menu.url%>
                                                        </li>
                                                    <%end%>
                                                <%end%>
                                           </ul>

                                        </div>

                                    </div>


                                <div class="col-md-4">
                                    <div class="contact-box">

                                            <h3>CONTACT US</h3>
                                            <ul>
                                                    <li><a href="mailto:Info@1800STRIPER.COM" title="Write us to Info@1800STRIPER.COM"><i class="far fa-envelope"></i><strong>Info@1800STRIPER.COM</strong></a></li>
                                                    <li><a href="tel:1-800-787-4737" title="tel:1-800-787-4737"><i class="fas fa-phone"></i> <strong> 1-800-787-4737</strong></a></li>
                                                    <li><a href="#" title="52 Henry St. Rochester, NY, 1446"><i class="fas fa-map-marker-alt"></i> <strong>52 Henry St. Rochester, NY, 14468</strong></a></li>
                                                </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </footer>

                <div class="copy-right">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-10">
                                    <p>COPYRIGHT © 1999-2019 | ALL RIGHTS RESERVED STRIPER INDUSTRIES, INC. | <a href="#"  title="Read Our Privacy Policy">Privacy Policy</a> |  Powered by <a target="_blank" href="http://clicktecs.net/" title="Visit Now ClickTecs">ClickTecs</a></p>
                                </div>
                                <div class="col-xl-2">
                                    <div class=" social">
                                            <a href="#"><i title="Follow on Facebook" class="fab fa-facebook-f"><span class="sr-only">Facebook</span></i></a>
                                            <a href="#"><i title="Follow on Twitter" class="fab fa-twitter"><span class="sr-only">Twitter</span></i></a>
                                            <a href="#"><i title="Follow on Google plus" class="fab fa-google-plus-g"><span class="sr-only">Google plus</span></i></a>
                                            <a href="#"><i title="Follow on linkedin" class="fab fa-linkedin-in"><span class="sr-only">linkedin</span></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
