    <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="social">
                        <a href="#"><i title="Follow on Facebook" class="fab fa-facebook-f"><span class="sr-only">Facebook</span></i></a>
                        <a href="#"><i title="Follow on Twitter" class="fab fa-twitter"><span class="sr-only">Twitter</span></i></a>
                        <a href="#"><i title="Follow on Google plus" class="fab fa-google-plus-g"><span class="sr-only">Google plus</span></i></a>
                        <a href="#"><i title="Follow on linkedin" class="fab fa-linkedin-in"><span class="sr-only">linkedin</span></i></a>
                        
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="right-box">
                            <a href="#"><i class="fa fa-map-marker-alt"></i> 52 Henry St Hilton, NY 14468</a>
                            <a class="btn phone" title="Phone" href="tel:1-800-787-4737"><i class="fas fa-phone-volume"></i> 1-800-787-4737</a>                        
                    </div>
                </div>
            </div>
        </div>