 <% pending_notification_count = get_pending_notification_count %>
<i class="fa fa-bell-o"></i>
<span class="label label-warning bell-count"><%= pending_notification_count if pending_notification_count > 0 %></span>